.gl-avatar-labeled {
  @include gl-display-inline-flex;

  &-labels {
    @include gl-ml-3;
    @include gl-display-flex;
    @include gl-flex-direction-column;
    @include gl-justify-content-center;
    @include gl-font-base;
    @include gl-line-height-normal;
    @include gl-text-gray-900;
  }

  &-labels.inline-labels {
    @include gl-flex-direction-row;
    @include gl-align-items-center;
    @include gl-gap-2;
  }

  &-label {
    @include gl-font-weight-bold;
    @include gl-p-1;
    @include gl-text-gray-900;
  }

  &-sublabel {
    color: $gl-text-color-subtle;
    overflow-wrap: anywhere;
  }
}
